<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd">

    <rabbit:connection-factory id="connectionFactory"
                               host="172.16.1.113"
                               username="dev"
                               password="devnfs"
            />


    <bean id="messageSender" class="com.mdiaf.notify.sender.RabbitMessageSender" >
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>

    <bean id="notifyListener" class="com.mdiaf.notify.listener.NotifyListener" init-method="init">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="groupId" value="eason_test_group" />
        <property name="messageType" value="eason_type_expire" />
        <property name="topic" value="eason-exchange" />
    </bean>

    <!--<bean id="notifyListener2" class="com.mdiaf.notify.listener.NotifyListener" init-method="init">-->
        <!--<property name="connectionFactory" ref="connectionFactory" />-->
        <!--<property name="groupId" value="eason_test_group2" />-->
        <!--<property name="messageType" value="eason_test_messageType" />-->
        <!--<property name="topic" value="eason-exchange" />-->
    <!--</bean>-->
</beans>