<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd">

    <rabbit:connection-factory id="connectionFactory"
                               host="172.16.1.113"
                               username="dev"
                               password="devnfs"
                               channel-cache-size="1"
            />


    <bean id="messageSender" class="com.mdiaf.notify.sender.RabbitMessageSender">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="configuration">
            <bean class="com.mdiaf.notify.conf.Configuration">
                <property name="returnListener" ref="listenerTest"/>
                <property name="timerDelay" value="1000"/>
            </bean>
        </property>

    </bean>

    <bean id="notifyListener" class="com.mdiaf.notify.listener.NotifyMultiListener">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="groupId" value="eason_test_group2"/>
        <property name="messageTypes">
            <list>
                <value>eason_type_expire</value>
                <value>eason_type_expire1</value>
            </list>
        </property>
        <property name="topic" value="eason-exchange"/>
        <property name="configuration">
            <bean class="com.mdiaf.notify.conf.Configuration">
                <property name="returnListener" ref="listenerTest"/>
            </bean>
        </property>
    </bean>
    <bean class="com.mdiaf.notify.sender.ReturnListenerTest" id="listenerTest"/>

</beans>